.menu{       
    display: inline; 
    list-style:none;
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
    align-items: center;
    text-align: center; 
    }
    .divMenu{
     display: flex;  
     justify-content: center;
     align-items: center;
     width:auto;
     height: auto;     
     text-align: center;
     
     
    }

    .btnInserir{
        padding : 10px;
    }

    .btnEnviar{
      padding : 10px;
    }

 .divTabela{
 /* display: flex;  */
 justify-content: center; 
 width:auto;
 height: auto; 
 align-items: center;
 text-align: center;
 padding: 10px;

  /* border: 1px solid; */
 }
 .tabela tr:nth-child(odd) {
 background-color:#fff;
}  
.tabela tr:nth-child(even) {
 background-color:#ccc;
}
table{
 /* display: flex;  */
 /* justify-content: center; */
 margin: 0 auto;
 align-items: center;
 border: 1px solid;
 border-collapse: collapse;
 text-align: left;
}
td{
   border: 1px solid;
       /* display: flex;  */
}
.divButton{
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 0 auto;
    
}


input[type="number"]{
    resize: none;
    font-size: 12px;
}

